<%= form_with(model: bill, local: true) do |form| %>
  <% if bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer %>
    <%= form.select :customer_id, options_for_select(Customer.all.map{|c| [c, c.id]}), id: :activity_customer %>
  </div>

  <div class="field">
    <%= form.label :date_of_issue %>
    <%= form.date_select :date_of_issue, id: :bill_date_of_issue %>
  </div>

  <div class="field">
    <%= form.label :terms_of_payment %>
    <%= form.select(:terms_of_payment, [["at invoice sigh"],["30"],["60"],["90"]]) %>
  </div>

  <div class="field">
    <%= form.label :hourly_rate %>
    <%= form.text_field :hourly_rate, id: :bill_hourly_rate %>
  </div>

  <div class="field">
    <%= form.label :tax_rate %>
    <%= form.select(:tax_rate, [["21"],["22"]]) %>
  </div>

  <div class="field">
    <%= form.label :withholding %>
    <%= form.select(:withholding, [["20"]]) %>
  </div>

  <div class="field">
    <%= form.label :discount %>
    <%= form.number_field :discount, id: :bill_discount %>
  </div>

  <div class="field">
    <%= form.label :paid %>
    <%= form.select(:paid, [["no"],["yes"]]) %>
  </div>
  <br/>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
