<%= form_with(model: activity, local: true) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= form.label :customer %>
      <%= form.select :customer_id, options_for_select(Customer.all.map{|c| [c, c.id]}), id: :activity_customer %>
    </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :activity_description %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, id: :activity_start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date, id: :activity_end_date %>
  </div>

  <div class="field">
    <%= form.label :total_hours_of_work %>
    <%= form.text_field :total_hours_of_work, id: :activity_total_hours_of_work %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
