<p id="notice"><%= notice %></p>

<h1>Activities</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Description</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Total hours of work</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.customer %></td>
        <td><%= activity.description %></td>
        <td><%= activity.start_date %></td>
        <td><%= activity.end_date %></td>
        <td><%= activity.total_hours_of_work %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
